* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
 input[type=submit] {
    background-color: #04AA6D;
    color:black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
  }

  

  .con {
    border-radius: 5px;
    background-color: hsl(96, 60%, 83%);
    padding-right: 0px;
    box-sizing: border-box
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
    background-color: hsl(96, 60%, 83%)
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;}  
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  

  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }}
    
      .grid-form {
        margin: 2em 0;
    }
    .grid-form1 {
        background: hsl(96, 60%, 83%);
        margin-bottom: 1em;
        padding: 1em;
        border: 1px solid hsl(96, 60%, 83%);
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -o-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -webkit-box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
        box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    }
   .btn{
       color:black;
   }
  
  
   